Repository roeap/object-store-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, just, rustfmt

pyright:
  name: pyright
  entry: pyright
  args:
  - object-store/
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.270

just:
  name: just
  language: system
  entry: just --fmt --unstable --check
  pass_filenames: false

rustfmt:
  name: Rust Format
  language: system
  entry: bash -c "cargo +stable fmt --all -- --check"

docs: cleanup
  .vscode/cspell.json
  .vscode/settings.json
  README.md
  docs/index.md
  mkdocs.yaml
  object-store/src/lib.rs
Due: rustfmt

feat: read / write partitioned datasets
  .vscode/cspell.json
  README.md
  object-store/src/builder.rs
  object-store/src/file.rs
  object-store/src/lib.rs
  object-store/src/settings.rs
  object-store/src/utils.rs
  object-store/tests/test_arrow.py
Due: pyright, rustfmt

chore: cleanup
  .vscode/cspell.json
  docs/index.md
  docs/reference.md
  examples/object_store.ipynb
  mkdocs.yaml
  object-store/src/file.rs
  object-store/src/lib.rs
  object-store/src/utils.rs
  poetry.lock
  pyproject.toml
Due: rustfmt

improve GIL handling
  Cargo.lock
  object-store/src/file.rs
  object-store/src/lib.rs
  object-store/src/utils.rs
Due: rustfmt

update ci tooling
  .flake8
  .pre-commit-config.yaml
  .vscode/cspell.json
  justfile
  poetry.lock
  pyproject.toml
Due: just

ci: pre-commit and dependency pruning
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  docs/index.md
  examples/object_store.ipynb
  justfile
  object-store/Cargo.toml
  object-store/pyproject.toml
  poetry.lock
  poetry.toml
  pyproject.toml
Due: just

chore: improve build / test setup
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  examples/object_store.ipynb
  justfile
  object-store/object_store/__init__.py
  object-store/pyproject.toml
  object-store/tests/test_arrow.py
  poetry.lock
  pyproject.toml
Due: pyright, just

ci: setup github ci
  .github/workflows/ci.yaml
  object-store/object_store/arrow.py
Due: pyright

ci: fix maturin command
  .github/workflows/ci.yaml
Due: none

feat: pickle serializable filesystem
  .github/workflows/release.yaml
  examples/object_store.ipynb
  object-store/src/file.rs
Due: rustfmt

build(release): v0.0.2
  Cargo.lock
  justfile
  object-store/Cargo.toml
  object-store/object_store/__init__.py
  object-store/pyproject.toml
Due: pyright, just

build(release): v0.0.3
  .github/workflows/release.yaml
  Cargo.lock
  object-store/Cargo.toml
Due: none

build(release): v0.0.4
  .github/workflows/release.yaml
  Cargo.lock
  object-store/Cargo.toml
Due: none

build(release): v0.0.5
  .github/workflows/release.yaml
  Cargo.lock
  object-store/Cargo.toml
Due: none

docs: update readme
  .github/workflows/release.yaml
  README.md
Due: none

chore: update depenndecies
  justfile
  object-store/object_store/_internal.pyi
  object-store/pyproject.toml
  poetry.lock
  pyproject.toml
Due: just

chore: prune dependencies
  .github/workflows/release.yaml
  object-store/pyproject.toml
  poetry.lock
Due: none

feat: basic StorageBuilder
  Cargo.lock
  Cargo.toml
  object-store/src/builder.rs
  object-store/src/file.rs
  object-store/src/lib.rs
  object-store/src/prefix.rs
  object-store/src/settings.rs
Due: rustfmt

feat: extend configuration system
  Cargo.lock
  Cargo.toml
  object-store/Cargo.toml
  object-store/src/builder.rs
  object-store/src/config/aws.rs
  object-store/src/config/azure.rs
  object-store/src/config/google.rs
  object-store/src/config/mod.rs
  object-store/src/file.rs
  object-store/src/lib.rs
Due: rustfmt

fix: clippy
  object-store/src/config/aws.rs
  object-store/src/config/azure.rs
  object-store/src/config/google.rs
  object-store/src/file.rs
Due: rustfmt

docs: update README
  README.md
Due: none

build(release): prepare release 0.0.6
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

chore: update README for release builds
  .github/workflows/release.yaml
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

chore: minor cleanup
  object-store/src/builder.rs
Due: rustfmt

build(deps): bump dependencies
  .pre-commit-config.yaml
  Cargo.lock
  poetry.lock
  pyproject.toml
Due: none

docs: add package description
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

chore: general cleanup
  .vscode/settings.json
  Cargo.lock
  README.md
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

refactor: use upstream config api
  Cargo.lock
  Cargo.toml
  object-store/src/builder.rs
  object-store/src/config/aws.rs
  object-store/src/config/azure.rs
  object-store/src/config/google.rs
  object-store/src/config/mod.rs
  object-store/src/lib.rs
Due: rustfmt

fix: handle relative paths in global builder
  examples/object_store.ipynb
  object-store/src/builder.rs
  object-store/src/file.rs
  object-store/src/lib.rs
Due: rustfmt

build(release): prepare 0.0.8 release
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

build(deps): bump ci dependencies
  .pre-commit-config.yaml
  README.md
  poetry.lock
Due: none

feat: improve config handling
  Cargo.lock
  Cargo.toml
  object-store/src/builder.rs
Due: rustfmt

build: prepare v0.0.9 release
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

chore: update git ref
  Cargo.lock
  Cargo.toml
Due: none

feat: avoid some data copies on writes
  Cargo.lock
  Cargo.toml
  object-store/Cargo.toml
  object-store/src/file.rs
Due: rustfmt

build: prepare 0.1.0 release
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

docs: configuration options
  Cargo.lock
  Cargo.toml
  README.md
  object-store/pyproject.toml
  object-store/src/builder.rs
Due: rustfmt

docs: add links
  README.md
Due: none

build(release): prepare v0.1.1
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

Path conditions:
  pyright: any of: \.py$
  just: any of: ^justfile$
  rustfmt: any of: ^.*\.rs$ and \.rs$
